/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Centraliza a box na tela */
body {
    background-color: rgba(17, 67, 107, 0.541);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estiliza a caixa do formulário */
.form-box {
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

/* Estiliza os rótulos e título */
h1, label {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
}

/* Estiliza os inputs */
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
}

/* Estiliza o botão */
button {
    border: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

/* Estiliza o resultado */
.result-box {
    background-color: #d8d8d8;
    color: #1a1a1a;
    width: 90%;
    max-width: 400px;
    padding: 35px;
    text-align: left;  /* Garante que o texto fique alinhado à esquerda */
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    margin: 20px;  /* Centraliza horizontalmente */
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Alinha o conteúdo à esquerda */
}

h2 {
    margin-bottom: 30px;
}

p {
    margin-bottom: 15px;
    font-weight: 200;
}

/* Responsividade */
@media (max-width: 480px) {
    .box, .resultado {
        width: 90%;
    }
}

.erro {
    margin-top: 10px;
    margin-left: 30px;
}